.about{
    background-color: rgb(136, 166, 223);
}
.about__info {
    padding: 20px;

  }


.about__info > h1 {
     margin-bottom: 30px;
     background-color: rgb(136, 166, 223);
     width: fit-content;
     margin: 10px;
     border: 0px solid black;
     border-radius: 10px;
     overflow: hidden ;
     box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75 );
     cursor: pointer;
     transition: transform 100ms ease-in;
     margin-left: 300px;
     color: #f7f7f7;
     border: 1;
     
}

.about__info >h1:hover{
    transform: scale(1.07);
    background-color: white;
    color:rgb(67, 236, 217);
}

.about__info > p {
    margin-bottom: 30px;
    background-color: rgb(3, 37, 33);
    width: fit-content;
    margin: 10px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden ;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75 );
    cursor: pointer;
    transition: transform 100ms ease-in;
    margin-left: 300px;
    color: #f7f7f7;
    font-size: large;
    padding-top: 5vh;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.about__info >p:hover{
    transform: scale(1.07);
    background-color: white;
    color:rgb(3, 37, 33);

}

.about__team{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: rgb(165, 238, 229);
    width: fit-content;
    margin: 10px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden ;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75 );
    cursor: pointer;
    transition: transform 100ms ease-in;
    margin-left: 300px;
    color: #f7f7f7;
    font-size: large;
    padding-top: 5vw;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 40px
}

.about__team :hover{
    transform: scale(1.07);
    background-color: white;
    color:rgb(3, 37, 33);

}
.about__team >h1{
    margin-bottom: 10px;

}
.about__team >h2{
    margin-top: 10px;
}



