.card{
    margin: 10px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden ;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75 );
    cursor: pointer;
    transition: transform 100ms ease-in;
    
}

.card:hover{
    transform: scale(1.07);
}
.card > img {
    object-fit:fill;
    max-width: 300px;
    max-height: 200px;
    width: 50%;
    margin-left: 5vw;
}

.card__info{
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border:1;
    display:grid;

}

.card__info > button{
    background-color: rgb(57, 120, 145);
    color: white;
    text-transform: inherit;
    font-weight: 600;
    margin-top: 20px;

}

.card__info > button:hover{
    background-color: white;
    color:skyblue;
}